#################################
# 언리얼 엔진 생성 파일 #
#################################
/[Bb]uild
/[Bb]uilds
/Binaries
/DerivedDataCache
/Intermediate
/Saved

#################################
# 비주얼 스튜디오 생성 파일 #
#################################
# 캐시 디렉토리
.vs
# 사용자별 파일
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# CPP 캐시 파일
*.VC.db
*.opendb
*.opensdf
*.sdf
# 솔루션 파일
*.sln
# VSCode 캐시 디렉토리
.vscode
# VSCode 히스토리 파일
**/.history

#################################
# 기타 생성 파일 #
#################################
# 필요에 따라 추가